Repository midas-financial-software/dashboard-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

.lintstagedrc.json:

{
  "*.{ts,tsx,js,css,json,md}": "prettier --write",
  "src/*.ts": "eslint --max-warnings=0"
}

Move App to components folder and associated styles
  src/App.tsx
  src/components/App/App.css
  src/components/App/App.tsx
Due: prettier --write

Update index.html title and add meta description and add global styles
  index.html
  src/main.tsx
  src/styles/styles.css
Due: prettier --write

Create Header component
  public/images/logo.webp
  src/components/Header/Header.css
  src/components/Header/Header.tsx
Due: prettier --write

Add test cases for Header component
  .gitignore
  package-lock.json
  package.json
  src/components/Header/Header.test.tsx
  src/setupTest.ts
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Add testing workflow
  .github/workflows/testing.yml
Due: none

Add SonarCloud integration for code quality analysis
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

Add Section component for dashboard with title prop
  src/dashboard/Section/Section.tsx
Due: prettier --write

Add styles for dashboard section component
  src/styles/styles.css
Due: prettier --write

Add unit tests for Section component to verify heading rendering
  src/dashboard/Section/Section.test.tsx
Due: prettier --write

Move Section into dashboard components folder
  .gitignore
  src/dashboard/components/Section/Section.test.tsx
  src/dashboard/components/Section/Section.tsx
Due: prettier --write

Add Financials component and corresponding tests to dashboard
  src/components/App/App.tsx
  src/dashboard/features/Financials/Financials.test.tsx
  src/dashboard/features/Financials/Financials.tsx
Due: prettier --write

Delete Section component and its test
  src/dashboard/components/Section/Section.test.tsx
  src/dashboard/components/Section/Section.tsx
Due: prettier --write

Add Card component and integrate it into Financials feature
  src/dashboard/components/Card/Card.css
  src/dashboard/components/Card/Card.tsx
  src/dashboard/features/Financials/Financials.tsx
Due: prettier --write

Add tests for Card component and update Financials test description
  src/dashboard/components/Card/Card.test.tsx
  src/dashboard/features/Financials/Financials.test.tsx
Due: prettier --write
